<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NumeriQ.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E3FED2BA255B602400EA6A1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3FED2D0255B602700EA6A1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3FED2FB255B713300EA6A1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
